/* Botão Abrir Carrinho */
.btn-warning {
  background-color: #004A99 !important; 
  color: white !important;
  border: 2px solid #003366;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-warning:hover {
  background-color: #003366 !important; 
  transform: scale(1.05);
}


.offcanvas-header {
  background: linear-gradient(45deg, #004A99, #003366); 
}


.card-title i {
  color: #004A99 !important;
}

.card-text {
  text-align: justify;
}


.btn-success {
  background-color: #004A99 !important; 
  border: 2px solid #003366;
  color: white !important;
}

.btn-success:hover {
  background-color: #003366 !important; 
  transform: scale(1.05);
}


.text-success {
  color: #004A99 !important;
}
