<button class="btn btn-lg btn-warning text-white shadow-lg fw-bold px-4 rounded-pill border-0" type="button"
  data-bs-toggle="offcanvas" data-bs-target="#meuOffcanvas" (click)="pegarProduto()">
  <i class="bi bi-cart-fill"></i>
</button>

<div class="offcanvas offcanvas-end shadow-lg border-0 rounded-3" tabindex="-1" id="meuOffcanvas"
  aria-labelledby="meuOffcanvasLabel">
  <div class="offcanvas-header gradient-ford">
    <h5 class="offcanvas-title fw-bold text-white" id="meuOffcanvasLabel">
      <i class="bi bi-basket-fill"></i> Carrinho
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-3">
    <div class="container-fluid">
      <div class="row">
        <div class="w-50 p-1" *ngFor="let produto of produtosSelecionados">
          <div class="card h-100 shadow-sm border-0 rounded-3 gradient-card d-flex flex-column">
            <img [src]="produto.img" class="card-img-top fixed-img rounded-top" alt="Imagem do produto">
            <div class="card-body flex-grow-1 d-flex flex-column justify-content-between text-center">
              <h5 class="card-title text-white small">
                <i class="bi bi-box-seam"></i> {{ produto.nome }}
              </h5>
              <p class="card-text text-dark small">Quantidade: {{ produto.quantidade }}</p>
              <div class="d-flex justify-content-between">
                <button (click)="removerItem(produto)" class="btn btn-sm btn-danger border-0 rounded-pill">
                  <i class="bi bi-dash"></i>
                </button>
                <button (click)="adicionarItem(produto)" class="btn btn-sm btn-success border-0 rounded-pill">
                  <i class="bi bi-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end border-top pt-3">
      <h4 class="fw-bold text-dark">Total:
        <span class="text-warning">{{ getTotal() | currency:'BRL' }}</span>
      </h4>
    </div>
    <button (click)="levarTotal()" [disabled]="getTotal() <= 0"
      class="btn btn-lg btn-success w-100 shadow-sm fw-bold text-white rounded-pill border-0">
      <i class="bi bi-cart-check-fill"></i> Comprar
    </button>
  </div>
</div>
