<div class="d-flex justify-content-center align-items-center h-100 w-100" id="divHome" >
  <div class="w-100 p-3">
  <app-carousel class="w-100" ></app-carousel>
  </div>
  <div class="d-flex p-1 w-100 gap-1" id="divHome">
    <div class="d-flex align-items-center justify-content-center">
  <p id="textoHome" class="w-50">A Ford Ranger é uma picape média reconhecida por sua robustez, potência e versatilidade conquistando seus consumidores ao redor do mundo por sua capacidade de enfrentar terrenos desafiadores sem abrir mão do conforto e da tecnologia e incorporando varias inovações em segurança, conectividade e dirigibilidade, tornando-se uma das principais referências no segmento de picapes.</p>
  </div>

  
  </div>
</div>
