
<app-carousel class="p-5"></app-carousel>
<p class="fs-5 fw-semibold text-center text-md-start custom-justify p-3">
  A Ford Ranger é uma picape média reconhecida por sua robustez, potência e versatilidade, conquistando seus consumidores ao redor do mundo por sua capacidade de enfrentar terrenos desafiadores sem abrir mão do conforto e da tecnologia. Incorporando várias inovações em segurança, conectividade e dirigibilidade, tornou-se uma das principais referências no segmento de picapes.
</p>
