<div class="d-flex justify-content-center align-items-center h-100 w-100" >
  <div class="d-flex p-2 w-100 gap-3" id="divHome">
  <p id="textoHome" class="w-50">A Ford Ranger é uma picape média reconhecida por sua robustez, potência e versatilidade conquistando seus consumidores ao redor do mundo por sua capacidade de enfrentar terrenos desafiadores sem abrir mão do conforto e da tecnologia e incorporando varias inovações em segurança, conectividade e dirigibilidade, tornando-se uma das principais referências no segmento de picapes.</p>
  <div class="w-100">
  <app-carousel class="w-100" ></app-carousel>
  </div>
  </div>
</div>
