.input-group-text {
  background-color: #004a99 !important;
  color: white !important;
  border: none;
}

#search-input {
  border: 2px solid #004a99 !important;
  border-radius: 5px;
}

#search-button {
  background-color: #004a99 !important;
  color: white !important;
  border: 2px solid #003366;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

#search-button:hover {
  background-color: #003366 !important;
  transform: scale(1.05);
}
