<nav class="navbar navbar-dark navbar-custom px-3 d-flex">
    <a class="navbar-brand" href="/">
        <img src="/ford-96.png" alt="Ford Logo">
    </a>
    <ul class="navbar-nav flex-row d-flex">
        <li class="nav-item mx-2 d-flex">
            <a class="nav-link active animate-link d-flex align-items-center gap-2" routerLink="/">
                <i class="bi bi-house-door"></i> <span class="d-none d-md-block">Home</span>
            </a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link animate-link d-flex align-items-center gap-2" routerLink="/lancamento">
                <i class="bi bi-megaphone"></i> <span class="d-none d-md-block">Lançamento</span>
            </a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link animate-link d-flex align-items-center gap-2" routerLink="/contato">
                <i class="bi bi-envelope"></i> <span class="d-none d-md-block">Contato</span>
            </a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link animate-link d-flex align-items-center gap-2" routerLink="/loja">
                <i class="bi bi-bag"></i> <span class="d-none d-md-block">Loja</span>
            </a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link animate-link d-flex align-items-center gap-2" routerLink="/login">
                <i class="bi bi-person-circle"></i> <span class="d-none d-md-block">Admin</span>
            </a>
        </li>
  
    </ul>
</nav>




