.table-bordered {
  border: 2px solid #003c7d;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #003c7d;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #1c355e;
}

tr:hover {
  background-color: #28589d;
  transition: 0.3s ease-in-out;
}

.form-control {
  border: 2px solid #003c7d;
  border-radius: 5px;
  font-weight: bold;
  color: #003c7d;
}
