<div class="container w-100 d-flex flex-column align-items-center gap-2 text-dark p-3 justify-content-center rounded shadow bg-white">
    <div class="input-group w-100 d-flex justify-content-center">
        <div class="w-75">
            <input id="inputPesquisa" type="text" [formControl]="pesquisaControl"
                class="form-control font-center w-100 bg-light text-dark" placeholder="Pesquisa do código do veículo">
        </div>
    </div>

    <div *ngIf="mensagemDeErro" class="p-2 w-25 alert alert-danger text-center border-warning">
        <p class="mb-0">{{ mensagemDeErro }}</p>
    </div>

    <div class="table-responsive w-100">
        <table class="table table-bordered table-sm">
            <thead class="table text-dark bg-light">
                <tr class="rounded">
                    <th class="rounded" scope="col">ID</th>
                    <th class="rounded" scope="col">Odômetro</th>
                    <th class="rounded" scope="col">Nível Combustível</th>
                    <th class="rounded" scope="col">Status</th>
                    <th class="rounded" scope="col">Latitude</th>
                    <th class="rounded"  scope="col">Longitude</th>
                </tr>
            </thead>
            <tbody class="table-light text-dark">
                <tr *ngFor="let item of dataList" class="rounded">
                    <td class="rounded">{{ item['id'] }}</td>
                    <td class="rounded">{{ item['odometro'] }}</td>
                    <td class="rounded">{{ item['nivelCombustivel'] }}</td>
                    <td class="rounded">{{ item['status'] }}</td>
                    <td class="rounded">{{ item['lat'] }}</td>
                    <td class="rounded">{{ item['long'] }}</td>
                </tr>
                <tr *ngIf="dataList.length === 0">
                    <td colspan="6" class="text-center">Nenhum dado encontrado</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



