<div class="container w-100 d-flex flex-column align-items-center gap-2 text-dark p-3 justify-content-center rounded ">

    <div class="input-group w-100 d-flex justify-content-center">
        <div class="w-75">
            <input id="inputPesquisa" type="text" [formControl]="pesquisaControl"
                class="form-control font-center w-100 bg-light text-dark" placeholder="Pesquisa do código do veículo">
        </div>
    </div>

    <div *ngIf="mensagemDeErro" class="p-2 w-25 alert alert-danger text-center border-warning">
        <p class="mb-0">{{ mensagemDeErro }}</p>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered w-100 ">
            <thead class="table text-dark bg-light rounded-top">
                <tr>
                    <th class="rounded-top" scope="col">ID</th>
                    <th class="rounded-top" scope="col">Odômetro</th>
                    <th class="rounded-top" scope="col">Nível Combustível</th>
                    <th class="rounded-top" scope="col">Status</th>
                    <th class="rounded-top" scope="col">Latitude</th>
                    <th class="rounded-top" scope="col">Longitude</th>
                </tr>
            </thead>
            <tbody class="table-light text-dark rounded-bottom">
                <tr *ngFor="let item of dataList">
                    <td class="rounded-bottom">{{ item['id'] }}</td>
                    <td class="rounded-bottom">{{ item['odometro'] }}</td>
                    <td class="rounded-bottom">{{ item['nivelCombustivel'] }}</td>
                    <td class="rounded-bottom">{{ item['status'] }}</td>
                    <td class="rounded-bottom">{{ item['lat'] }}</td>
                    <td class="rounded-bottom">{{ item['long'] }}></td>
                </tr>
                <tr *ngIf="dataList.length === 0">
                    <td class="rounded-botto text-center">&nbsp;</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-center">&nbsp;</td>
                    <td class="text-center">&nbsp;</td>
                </tr>



            </tbody>
        </table>
    </div>

</div>