 <div class="carousel-container mb-4"> <div class="carousel-box p-3 border rounded shadow-sm"> <div class="image-wrapper position-relative">
        <img [src]="imagens[index].img" class="img-fluid rounded d-block mx-auto" alt="Carousel Image" id="imagens">
        
        <button class="btn btn-sm custom-carousel-btn position-absolute top-50 start-0 translate-middle-y ms-2 ms-md-3" (click)="prevImage()">&#10094;</button>
        <button class="btn btn-sm custom-carousel-btn position-absolute top-50 end-0 translate-middle-y me-2 me-md-3" (click)="nextImage()">&#10095;</button>
      </div>
      
      <a class="d-block text-center mt-3 fw-bold text-decoration-none text-dark" [href]="imagens[index].link">
        <p class="mb-0 fs-6 lh-sm">{{ imagens[index].descricao }}</p>
      </a>
    </div>
  </div>