.custom-btn {
    border-radius: 10px; 
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .custom-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }


  
.custom-img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 30px; /* Borda arredondada */
  border: 6px solid #0046AD; /* Azul da Ford */
  transition: transform 0.3s ease-in-out;
}

/* Efeito ao passar o mouse */
.custom-img:hover {
  transform: scale(1.03);
}

/* Melhorando o layout do carousel */
.carousel {
  padding: 20px;
  background: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 70, 173, 0.2);
}

/* Responsividade */
@media (max-width: 320px) {
  .custom-img {
    max-height: 280px;
  }
  
  .carousel {
    padding: 10px;
  }
}



