<div class="card card-raised card-carousel">
  <div id="customCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    
    <!-- Indicadores -->
    <ol class="carousel-indicators">
      <li *ngFor="let img of imagens; let i = index" [attr.data-bs-target]="'#customCarousel'" [attr.data-bs-slide-to]="i"
        [class.active]="i === index"></li>
    </ol>

    <!-- Imagens -->
    <div class="carousel-inner">
      <div *ngFor="let img of imagens; let i = index" class="carousel-item" [class.active]="i === index">
        <img class="d-block w-100 img-fluid rounded border border-primary shadow" [src]="img.img" alt="Carousel Image">
        <div class="carousel-caption d-none d-md-block">
          <h4>
            <i class="bi bi-geo-alt-fill"></i> {{ img.descricao }}
          </h4>
        </div>
      </div>
    </div>

    <!-- Botões de navegação -->
    <button class="carousel-control-prev btn btn-outline-primary btn-sm px-3 py-1" (click)="prevImage()">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </button>
    
    <button class="carousel-control-next btn btn-outline-primary btn-sm px-3 py-1" (click)="nextImage()">
      <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
  </div>
</div>
