<div class="container">
  <div class="row g-4 justify-content-center">
    <div *ngFor="let produto of produtos | filter:valorPesquisa" class="col-md-4 col-lg-3">
      <div class="card text-center shadow-sm h-100">
        <img [src]="produto.img" class="card-img-top img-fluid" alt="Produto">
        <div class="card-body d-flex flex-column justify-content-between">
          <p class="card-text d-flex gap-2 align-items-center justify-content-center">
            <i class="bi bi-box-seam text-primary"></i> {{ produto.nome }}
          </p>
          <p class="card-text">
            Preço: <span class="fw-semibold text-success">R$ {{ produto.preco }}</span>
          </p>
        </div>
        <div class="p-2">
          <button (click)="enviarProduto(produto)" class="btn btn-success w-100">
            <i class="bi bi-cart-plus-fill me-1"></i> Adicionar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
